.flex {
    background-color: bisque;
    border: .1rem solid rgb(18, 18, 18);
    width: 20rem;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 54rem;
    background-color: black;
    justify-content: center;
}

.col1 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item {
    width: 100%;
    flex: 1;
}

.banner {
    display: flex;
    justify-content: center;
}

.footer {
    border: .1rem solid black;
    display: flex;
    /* height: 1rem; */
    width: 100%;
    justify-content: center;
    margin-top: 23rem;
    padding-top: 23rem;
}

html, body {
    margin: 0;
    padding: 0;
}